/* Navigation */

#bag {
	border-bottom: 2px #c5d3dd solid;
  padding-bottom: 20px;
  text-decoration: none;
}

#home:hover {
	border-bottom: 2px #5a6c7b solid;
  padding-bottom: 13px;
}


/* Header styling */
h2.page-title{
	border-bottom: 2px #5a6c7b solid;
}

#total-item-div{
	border-bottom: #c5d3dd 2px solid;
}


/* Font styles for Shopping Bag page */
.total-label-style{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.125em;
	font-weight: 600;
	margin-right: 20px;
  text-transform: capitalize;
}

.order-row-font-style {
	display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
	font-size: 1.125em;
	font-weight: 500;
	margin-bottom: 14px;
	margin-left: 10px;
	margin-top: 10px;
	text-transform: capitalize;
  vertical-align: top;
}

.order-row-font-style.multiplier{
	padding-right: 10px;
  text-transform: lowercase;
}

/* Count of the number of items orered */

/* Overall spacing and design of Shopping cart*/
.order-item-row{
	min-height: 100px;
	padding-right: 30px;
  width: 100%;
}

.order-group{
	border-bottom: #c5d3dd 2px solid;
	display: inline-block;
}

.shopping-cart-img{
	height: auto;
  width: 104px;
}

.shopping-cart-img-container{

}

/* Customization styling */

.item-span-styling{
	display: inline-block;
	padding-left: 10px;
}


.item-name{
}

/* Input and text elements for prices, quantities and item totals*/
.styled-select{
	background: url(../images/down-arrow.svg) no-repeat 30% 5px 5px 5px 3px;
	border-color: #dfe0e0;
  display: inline-block;
  float: none;
  font-family: "Josefin Sans";
	font-size: 1.125em;
	font-weight: 300;
  height: 40px;
  margin-right: 20px;
  overflow: hidden;
	padding-left: 20px;
	position: inline-block;
	vertical-align: middle; 
  width: 80px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px; 
}

.price-group{
	float:right;
  text-align: right;
    
}

.item-information-row{
	width: 100%;
}

/* Shopping cart styling */
#shopping-cart-total{
    background: #c5d3dd;
    margin-left: 20px;
    margin-top: 92px;
    padding-right: 20px;
}

.total-section{
	padding: 40px;
	padding-bottom:20px;
	padding-right: 20px;
}

.total-span{
	display: inline;
}

.major-number{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.125em;
	font-weight: 600;
	margin-right: 20px;
  text-transform: capitalize;
}

.minor-number{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.125em;
	font-weight: 500;
	margin-right: 20px;
	text-transform: capitalize;
}

.total-label-style {
	clear: both;
  display: inline-block;
  padding-bottom: 20px;
  text-align: left;
  width: 100px;  
}

.total-label-value {
	clear: both;
  display: inline-block;
  float: right;
  padding-bottom: 20px;
  text-align: right;
}

hr{
	border-color: #5a6c7b;
	margin-bottom: 20px;
}

#checkout-button{
	margin-top: 0px;
}

#template-item-div{
  visibility: hidden;
}